<%- include('partials/header') -%>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2>Client: <%= file.client %></h2>
      <h3>Code: <%= file.code %></h3>
      <h3>Link: <%= file.link %></h3>
      <h3>Secret word: <%= file.word %></h3>
      <div
        class="row justify-content-between btn-group"
        role="group"
        aria-label="Basic example"
      >
        <%if(file.user == user.id){ %>
        <form
          action="/file/deleteFile/<%= file.id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
        <form action="/profile">
          <button
            class="btn btn-primary fa fa-arrow-left"
            type="submit"
          ></button>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
