<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-1">
    <!--Left half-->
    <div id="left-col" class="h-100 col-6 fixed-top bkg">
      <div class="mt-3 mb-3 fnt-wht">
        <form
          action="/file/getFile"
          enctype="application/x-www-form-urlencoded"
          method="POST"
        >
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input
              type="text"
              class="form-control bkg-light"
              id="firstName"
              name="firstName"
            />
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input
              type="text"
              class="form-control bkg-light"
              id="lastName"
              name="lastName"
            />
          </div>
          <div class="mb-3">
            <label for="link" class="form-label">Link</label>
            <input
              type="text"
              class="form-control bkg-light"
              id="link"
              name="link"
            />
          </div>
          <div class="mb-3">
            <label for="word" class="form-label">Word</label>
            <input
              type="text"
              class="form-control bkg-light"
              id="word"
              name="word"
            />
          </div>
          <button type="submit" class="btn btn-lg form-control" value="Upload">
            Submit
          </button>
        </form>
      </div>
    </div>
    <!--Right half-->
    <div class="offset-sm-6">
      <div class="container">
        <div class="row justify-content-center mt-5">
          <div class="col-6">
            <h2>Client: <%= file.lastName %>, <%= file.firstName %></h2>
            <h3>Code: <%= file.code %></h3>
            <h3>Link: <%= file.link %></h3>
            <h3>Secret word: <%= file.word %></h3>
            <div
              class="row justify-content-between btn-group"
              role="group"
              aria-label="Basic example"
            >
              <form action="/final-wishes">
                <button class="btn btn-lg form-control" type="submit">
                  Back to Regeneration Earth
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('partials/footer') -%>
