<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-1">
    <div class="col-6 fixed-top">
      <div>
          <p><strong>User Name</strong>: <%= user.userName %></p>
          <p><strong>Email</strong>: <%= user.email %></p>
          <a href="/logout" class="col-3 btn btn-primary">Logout</a>
      </div>
      <div class="mt-5 mb-3">
        <h2>Add a file</h2>
        <form action="/file/createFile" enctype="application/x-www-form-urlencoded" method="POST">
          <div class="mb-3">
            <label for="client" class="form-label">Client</label>
            <input type="text" class="form-control" id="client" name="client">
          </div>
          <div class="mb-3">
            <label for="link" class="form-label">Link</label>
            <input type="text" class="form-control" id="link" name="link">
          </div>
          <div class="mb-3">
              <label for="word" class="form-label">Word</label>
              <input type="text" class="form-control" id="word" name="word">
          </div>
          <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
        </form>
      </div>
    </div>
    <div class="col-6 offset-sm-6">
      <ul class="list-unstyled">
        <% for(var i=0; i<files.length; i++) {%>
          <li class="col-6 justify-content-between mt-1">
            <a href="/file/<%= files[i]._id%>">
              <h2><%= files[i].client %>  <%= files[i].createdAt.toDateString() %></h2>
            </a>
          </li>
        <% } %>
      </ul>  
    </div>  
  </div>
</div>
<%- include('partials/footer') -%>