<%- include('partials/header') -%>
<div class="container">
  <div class="row mt-1">
    <!--Left half-->
    <div id="left-col" class="h-100 col-6 fixed-top bkg">
      <div>
          <a href="/logout" class="col-3 btn">Logout</a>
      </div>
      <div class="mt-3 mb-3 fnt-wht">
        <form action="/file/createFile" enctype="application/x-www-form-urlencoded" method="POST">
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control bkg-light" id="firstName" name="firstName">
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control bkg-light" id="lastName" name="lastName">
          </div>
          <div class="mb-3">
            <label for="link" class="form-label">Link</label>
            <input type="text" class="form-control bkg-light" id="link" name="link">
          </div>
          <div class="mb-3">
              <label for="word" class="form-label">Word</label>
              <input type="text" class="form-control bkg-light" id="word" name="word">
          </div>
          <button type="submit" class="btn btn-lg form-control" value="Upload">Submit</button>
        </form>
      </div>
    </div>
    <!--Right half-->
    <div class="offset-sm-6 bkg-img">
      <div class="container">
        <div class="accordion accordion-flush bkg-fade" id="files">
          <% for(let i=0; i<files.length; i++) {%>
            <div class="accordion-item bkg-fade">
              <h2 class="accordion-header bkg-fade">
                <button class="accordion-button collapsed bkg-fade" type="button" data-bs-toggle="collapse" data-bs-target="#files-<%=i%>">
                  <div><%= files[i].lastName %>, <%= files[i].firstName %>  <%= files[i].createdAt.toDateString() %></div>
                </button>
              </h2>
              <div id="files-<%=i%>" class="accordion-collapse collapse bkg-fade" data-bs-parent="#files">
                <div class="accordion-body bkg-fade">
                  <div><a href="<%=files[i].link %>">Google Folder Link</a></div>
                  <div>Code: <%=files[i].code %></div>
                  <div>Secret Word: <%=files[i].word %></div>
                    <form action="/file/deleteFile/<%= files[i].id %>?_method=DELETE" method="POST" class="col-3">
                      <button class="btn fa fa-trash" type="submit"></button>
                    </form>
                </div>
              </div>
            </div>
          <% } %>
        </div>
      </div>
    </div>  
  </div>
</div>
<%- include('partials/footer') -%>